window {
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid #aaf9b6;
    border-radius: 6px;
    padding: 12px;
}

listitem:selected {
    background: rgba(213, 213, 213, 0.33);
    color: #aaf9b6;
}
#input {
    background: transparent;
    border: 1px solid #aaf9b6;
    color: #aaf9b6;
    padding: 6px;
    margin-bottom: 10px;
    font-family: "Iosevka Nerd Font", monospace;
    font-size: 14px;
}

#entry {
    background: transparent;
    border: none;
    padding: 6px;
}

#entry:selected {
    background: rgba(213, 213, 213, 0.33);
    border-left: 2px solid #f8f8ff;
}

#text {
    color: #aaf9b6;
}
